/* standard font size of 16px
h1: 30
h2: 24
h3: 20


color palette:
font: #212620
background: #566850
secondary: #F2F2F2
highlight: #344028


use runholdy for headers and stuff
regular text use alkes
*/
@font-face {
  font-family: "runholdy";
  src: url("../fonts/Runholdy.ttf");
}
@font-face {
    font-family: "spirits";
    src: url(../fonts/spirits-soft.otf);
}
@font-face {
    font-family: 'alkes';
    src: url(../fonts/AlkesThin.TTF);
}





/*declaration of the standards*/
body{
    background-image: url(../images/background.jpg);
    background-size: 200vw;
    font-size: 16px;
    font-family: "spirits";
}

.logo {
    margin-left: 20px;
    font-family: 'alkes';
    font-size: 30px;
    color: #212620;
    background-color: #566850;
    width: fit-content;
    border-radius: 5px;
    height: fit-content;
}

.content_box {
    display:grid;
    grid-template-columns: min-content min-content min-content;
    justify-content: space-between;
    height: 80vh;
}   
.content_box > * {
    background-color: #566850;
    margin: 20px;
    border-radius: 5px;
    padding: 20px;
}


.links {
    width: 100px;
    height: fit-content;
    font-size: 20px;
    display:flex;
    flex-direction: column;
}
.links > a {
    color: #F2F2F2;
    margin: 10px;
}

.buttons {
    width: 88px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.buttons > img {
    width: 88px;
    height: 31px;
    margin-bottom: 10px;
}

.main_content {
    max-width: 50vw;
    width: 40vw;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

