/* standard font size of 16px
h1: 30
h2: 24
h3: 20


color palette:
font: #212620
background: #566850
secondary: #a1a1a1
highlight: #344028
#D94343
#FFD3F0

use runholdy for headers and stuff
regular text use alkes
*/
@font-face {
    font-family: "spirits";
    src: url(../fonts/spirits-soft.otf);
}
@font-face {
    font-family: 'nds';
    src: url(../fonts/nds_font.woff2);
}
@font-face {
    font-family: 'runholdy';
    src: url(../fonts/Runholdy.ttf);
}




.flex_row_template {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
}

.flex_column_template {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    justify-content:space-between;
    width: fit-content;
}

.reverse_image {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.border_lace{ 
    border-style: solid;
    border-width: 10px;
    border-image: url(../images/borders/laceborder.png) 30 fill round;
}

.border_green{
    background-color: #566850;
    border-radius: 5px;
}

a {
    color: #a1a1a1;
}